.about {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #060b26;
  font-family: "Open Sans", sans-serif;
  z-index: 0;
}

.bg-black {
  background-image: url("../../assets/bg-black.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
